<html>
<meta name="viewport" content="width=device-width", initial-scale=1, maximum-scale=1, user-scalable=0"/>

<head>
    <meta charset="UTF-8">
    <script src="libs/emojiUnicode.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.1.1/dist/phaser.js"></script>
    <script src="libs/base64.js"></script>
    <script src="libs/underscore.min.js"></script>
    <script src="libs/backbone.min.js"></script>
    <script src="libs/backbone-localStorage.min.js"></script><!-- opt -->
    <script src="libs/jquery.min.js"></script>
    <link href="sandbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="libs/webtoolkit.md5.js"></script>
    <!-- For HTML/XML -->
    <script src="http://codemirror.net/mode/xml/xml.js"></script>
    <script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <!-- For CSS -->
    <script src="http://codemirror.net/mode/css/css.js"></script>
    <!-- For JS -->
    <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="libs/themes/3024-day.css">
    <link rel="stylesheet" href="libs/themes/3024-night.css">
    <link rel="stylesheet" href="libs/themes/abcdef.css">
    <link rel="stylesheet" href="libs/themes/ambiance-mobile.css">
    <link rel="stylesheet" href="libs/themes/ambiance.css">
    <link rel="stylesheet" href="libs/themes/base16-dark.css">
    <link rel="stylesheet" href="libs/themes/base16-light.css">
    <link rel="stylesheet" href="libs/themes/bespin.css">
    <link rel="stylesheet" href="libs/themes/blackboard.css">
    <link rel="stylesheet" href="libs/themes/cobalt.css">
    <link rel="stylesheet" href="libs/themes/colorforth.css">
    <link rel="stylesheet" href="libs/themes/darcula.css">
    <link rel="stylesheet" href="libs/themes/dracula.css">
    <link rel="stylesheet" href="libs/themes/duotone-dark.css">
    <link rel="stylesheet" href="libs/themes/duotone-light.css">
    <link rel="stylesheet" href="libs/themes/eclipse.css">
    <link rel="stylesheet" href="libs/themes/elegant.css">
    <link rel="stylesheet" href="libs/themes/erlang-dark.css">
    <link rel="stylesheet" href="libs/themes/gruvbox-dark.css">
    <link rel="stylesheet" href="libs/themes/hopscotch.css">
    <link rel="stylesheet" href="libs/themes/icecoder.css">
    <link rel="stylesheet" href="libs/themes/idea.css">
    <link rel="stylesheet" href="libs/themes/isotope.css">
    <link rel="stylesheet" href="libs/themes/lesser-dark.css">
    <link rel="stylesheet" href="libs/themes/liquibyte.css">
    <link rel="stylesheet" href="libs/themes/lucario.css">
    <link rel="stylesheet" href="libs/themes/material.css">
    <link rel="stylesheet" href="libs/themes/mbo.css">
    <link rel="stylesheet" href="libs/themes/mdn-like.css">
    <link rel="stylesheet" href="libs/themes/midnight.css">
    <link rel="stylesheet" href="libs/themes/monokai.css">
    <link rel="stylesheet" href="libs/themes/neat.css">
    <link rel="stylesheet" href="libs/themes/neo.css">
    <link rel="stylesheet" href="libs/themes/night.css">
    <link rel="stylesheet" href="libs/themes/oceanic-next.css">
    <link rel="stylesheet" href="libs/themes/panda-syntax.css">
    <link rel="stylesheet" href="libs/themes/paraiso-dark.css">
    <link rel="stylesheet" href="libs/themes/paraiso-light.css">
    <link rel="stylesheet" href="libs/themes/pastel-on-dark.css">
    <link rel="stylesheet" href="libs/themes/railscasts.css">
    <link rel="stylesheet" href="libs/themes/rubyblue.css">
    <link rel="stylesheet" href="libs/themes/seti.css">
    <link rel="stylesheet" href="libs/themes/shadowfox.css">
    <link rel="stylesheet" href="libs/themes/solarized.css">
    <link rel="stylesheet" href="libs/themes/ssms.css">
    <link rel="stylesheet" href="libs/themes/the-matrix.css">
    <link rel="stylesheet" href="libs/themes/tomorrow-night-bright.css">
    <link rel="stylesheet" href="libs/themes/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="libs/themes/ttcn.css">
    <link rel="stylesheet" href="libs/themes/twilight.css">
    <link rel="stylesheet" href="libs/themes/vibrant-ink.css">
    <link rel="stylesheet" href="libs/themes/xq-dark.css">
    <link rel="stylesheet" href="libs/themes/xq-light.css">
    <link rel="stylesheet" href="libs/themes/yeti.css">
    <link rel="stylesheet" href="libs/themes/zenburn.css">
</head>
<div class="both">
    <div class="left-go-bottom">
        <!-- Code Editors -->
        <div id="code_editors">
            <!-- Tab content -->
            <div id="htmlTab" class="tabcontent">
                <div id="html" class="code_box">
                    <textarea name="html"></textarea>
                </div>
            </div>
            <div id="cssTab" class="tabcontent">
                <div id="css" class="code_box">
                    <textarea name="css"></textarea>
                </div>
            </div>
            <div id="jsTab" class="tabcontent">
                <div id="js" class="code_box">
                    <textarea name="js"></textarea>
                </div>
            </div>
            <div id="readmeTab" class="tabcontent">
                <div id="readme" class="code_box">
                    <textarea name="readme"></textarea>
                </div>
            </div>
            <div id="filesTab" class="tabcontent">
                    <div id="pnav"></div>
                    <div id="content">
                    <div id="searchbar">
                    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for title..">
                    <br>
                    <div id="files" class="file_box">
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="right-go-top">
        <!-- Sandboxing -->
        <div id="output">
            <iframe></iframe>
        </div>
        <div id="sandbox">press &#x1F3C1; to launch console</div>
        <!-- The sandbox template -->
        <script type="text/template" id="tplSandbox">
            <pre class="output"></pre>
    <div class="input">
        <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
    </div>
</script>
        <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>
        <script src="libs/sandbox-console.js"></script>
        <script src="script.js"></script>
    </div>
</div>
<!-- Tab links -->

<div class="tab">
    <button class="undo" onclick="undo(currentEditor)">&#x1f631;</button>
    <button class="tablinks" onclick="openTab(event, 'htmlTab')">&#x1F3D7;</button>
    <button class="tablinks" onclick="openTab(event, 'cssTab')">&#x1F5BC;</button>
    <button class="tablinks" onclick="openTab(event, 'jsTab')">&#x1F412;</button>
    <button class="tablinks" onclick="openTab(event, 'readmeTab')">&#x1f4e6;</button>
    <button class="theme" id="theme" onclick="changeTheme()">&#x1F464;</button>
    <button class="tablinks" onclick="openTab(event, 'filesTab')">&#x1f4c2;</button>
    <button class="save" onclick="save()">&#x1f4be;</button>
    <button class="outputlinks" onclick="toggle(event, 'sandbox')">&#x1F52E;</button>
    <button class="outputlinks" onclick="toggle(event, 'output')">&#x1F4FA;</button>

    <!-- <button class="fork" onclick="fork()">&#x1f35d;</button> -->
    
    <button class="render" onclick="render()">&#x1F3C1;</button>
</div>

</body>
</html>